<h1>SPA BoilerPlate 2017</h1>

<p>An interesting take on site creation.</p>

<center>

<input id="domain" type="text" class="form-control" placeholder="SPA Domain Name [a-z0-9_]">
<input id="color" type="color" class="form-control" value="#EC8440">

<input type="button" class="btn btn-primary" value="Generate Site" onclick="action_generate_site();">

</center>