
<h2>Created: {{ data.domain_name }}</h2>
<hr>

<center>
<h4>Fab Deploy Output</h4>
<pre>{{ data.routes }}</pre>

<h4>Site</h4>
<iframe id="preview" src="https://{{ data.domain_name }}.flaskcart.co" style="width: 65%; height: 80%"></iframe>
<button onclick="var iframe = $('#preview'); iframe.attr('src', iframe.data('src')); ">Reload Site</button>


</center>